<h1>Nouvelle Notes</h1>


<table >

    <tr>
        <th>Type</th>
        <th>Libelle</th>
        <th>Montant</th>
        <th>Date</th>
    </tr>
    <tr>
        <div class ="checkbox-container">
            <input type="checkbox" id="repas">
            <label for ="myCehckbox">Repas</label>
        </div>
        <div class ="checkbox-container">
            <input type="checkbox" id="hebergement">
            <label for ="myCehckbox">Hebergement</label>

        </div>
        <div class ="checkbox-container">
            <input type="checkbox" id="kilometrage">
            <label for ="myCehckbox">Kilométrage</label>

        </div>


    </tr>












</table>

